<!DOCTYPE html>
<html>
  <head>
    <title>ExamLucaslatuz</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #999999;
      }

      li {
        float: left;
      }

      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      /* Change the link color to #111 (black) on hover */
      li a:hover {
        background-color: #111;
      }
    </style>
    <ul>
      <li><a href="/recipes">Home</a></li>
      <% if not customer_signed_in? %>
      <li><a href="/customers/sign_in">Log In</a></li>
      <% end %>
      <% if customer_signed_in? %>
        <div align="right">
          <li><%= link_to "My info", '/customers/%s' % [current_customer[:id]] , method: :get %> </li>
          <li><%= link_to "Log Out", destroy_customer_session_path, :method => :delete %></li>
          Welcome! <%= current_customer.email%>
        </div>
      <% end %>
    </ul>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
